* {
  margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');

.panels {
  max-width: 335px;
  max-height: 442.15;
  border: 2px;

  margin-bottom: 45px;
  margin-right: 10px;

  box-sizing: border-box;
  padding: 20px;
}
